<?xml version="1.0" encoding="utf-8"?>


<configuration>

  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>-->
    <section name="cacheProvider"
      type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders"
      allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>

    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <!--<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />-->
    </sectionGroup>
  </configSections>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>




  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100"
          connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="_MyProjectName_" defaultExpireTime="2000"/>
    </providers>
  </cacheProvider>



  <appSettings>

  </appSettings>
</configuration>
